#page-name {
	padding: 160px 0px 120px 0px;
	background:url(../img/header/foto_3.png) center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	position:relative;
	text-align: center;
}